body, html {

	height: 100%;

}

div {
  padding: 10px;
}

.leftbar, .rightbar, .middle {
	text-align: center;
	font-size: 36px;
}

.container {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 10px;
}

.header {
  grid-column: 1 / 4;
  text-align: center;
  font-size: 60px;
  font-variant: small-caps;
  color: white;
  font-style: bold;
  background-color: gray;
}

.footer {
  grid-column: 1 / 4;
}

.mail {
  grid-column: 1 / 4;
}

.parallax {
  /* The image used */
  background-image: url("sock.jpg");

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {

	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;

}

.caption span.border {

	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;

}